<section>
  <div class="container">
    <button type="button">Back button</button>
    <div>
      <div>
        <h2>Easy</h2>
        <ul>
          @for (cipher of grouped.easy; track cipher.id) {
            <li>
              <a routerLink="">
                <span>{{ cipher.name }}</span>
              </a>
            </li>
          } @empty {
            <p>There are no ciphers yet</p>
          }
        </ul>
      </div>
      <div>
        <h2>Medium</h2>
        <ul>
          @for (cipher of grouped.medium; track cipher.id) {
            <li>
              <a routerLink="">
                <span>{{ cipher.name }}</span>
              </a>
            </li>
          } @empty {
            <p>There are no ciphers yet</p>
          }
        </ul>
      </div>
      <div>
        <h2>Hard</h2>
        <ul>
          @for (cipher of grouped.hard; track cipher.id) {
            <li>
              <a routerLink="">
                <span>{{ cipher.name }}</span>
              </a>
            </li>
          } @empty {
            <p>There are no ciphers yet</p>
          }
        </ul>
      </div>
    </div>
  </div>
</section>
