@import 'tailwindcss';

@theme {
  --color-main: #14192b;
  --color-secondary: #ff8c42;
  --color-text: antiquewhite;
  --color-buttons: #d9762e;

  --font-main: 'IBM Plex Mono', monospace;
  --font-pixel: 'Silkscreen', monospace;
}

@layer base {
  html {
    color: var(--color-text);
    background-color: var(--color-main);
    font-family: var(--font-pixel);
  }

  img {
    image-rendering: pixelated;
  }

  section {
    margin-top: 100px;
  }
}

[class*='container'] {
  max-inline-size: 1280px; /* max-width */
  margin-inline: auto; /* center */
  padding-inline: 15px; /* safe paddings */
  /* 1280 + 15 + 15 = 1310px real width */
}
