@import 'tailwindcss';

[class*='container'] {
  max-inline-size: 1280px; /* max-width */
  margin-inline: auto; /* center */
  padding-inline: 15px; /* safe paddings */
  /* 1280 + 15 + 15 = 1310px real width */
}

body {
  padding: 10px 0 10px 0;
}

img {
  image-rendering: pixelated;
}

section {
  margin-top: 40px;
}
